
body{
background: black;
}

.header{
	
	height: 220px;
	text-align: center;
	margin-top: 60px;
}
@font-face{
    font-family: LivingHell;
    src: url(livingHell.ttf);  
}
#title{
  color: #810a1b;
  font-size: 70px;
  font-family: LivingHell;
  letter-spacing: 10px;
}
#question{
  font-family: "Helvetica";
  color: #810a1b;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 4px;
}
.container {
 
 height: 800px;
 width: 1250px;


}
.tvImg{
  background: url(tv.png);
  height: 400px;
  position: ;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.giphy {
  background-image: url(0.gif);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 65%;
  padding-top: 60px;

}

#quizArea{
  text-align: center;
  background-position: center;
  color: #810a1b;
}

#startBtn{
  margin-top: 200px;
  background: #810a1b;
  color: white;
  font-family: "Helvetica";
  font-size: 20px;
  border-color: black;

}
.userGuess {
 padding: 10px 20px;
 margin: 10px; 
 background: #810a1b;
 color: white;
 font-family: "Helvetica";
 font-size: 20px;
 border-color: black;
 font-weight: 300;
}

#timer{
  margin-top: 100px;
}

#results{
  margin-top: 130px;
  font-size: 20px;

}
#checkScore{
  margin-top: 50px;
  font-size: 20px;
}

